# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel


        {/* Hello! My name is Md Habibur Rahman, and I'm a passionate web developer with a
        knack for creating dynamic and user-friendly web applications. At 21
        years old, I've already gained extensive experience with a range of
        modern web technologies including React, JavaScript, HTML, CSS, Tailwind
        CSS, MongoDB, Express.js, Node.js, Next.js, and Firebase. <br /> Coding is not
        just a profession for me—it's a passion. I enjoy turning complex
        problems into elegant solutions and constantly strive to expand my skill
        set to stay ahead in this ever-evolving field. Whether it's designing a
        responsive front-end or architecting a robust back-end, I find joy in
        every step of the development process. <br /> Outside of the digital world, I'm
        an avid cricket and badminton enthusiast. These sports have taught me
        the importance of teamwork, perseverance, and strategic
        thinking—qualities that I bring into my professional life as well. <br /> Thank
        you for taking the time to learn more about me. I'm excited about the
        possibility of collaborating on future projects and bringing innovative
        ideas to life. Feel free to connect with me! */}
